* {
  box-sizing: border-box;
}

body {
  background-color: #ece4db;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

p {
  text-align: center;
  font-style: italic;
  margin: 0.5rem 0 0.5rem 0;
}

.calc {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 20rem;
  background-color: black;
  color: white;
}

.screen {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 1.25rem 0.3rem;
}

.calc-button {
  background-color: #d8d9db;
  color: black;
  height: 5rem;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 2rem;
  cursor: pointer;
}

.calc-button:hover {
  background-color: #ebebeb;
}

/*when we pressed the button*/
.calc-button:active {
  background-color: #bbbcbe;
}

.calc-button:last-child {
  background-color: #eb8f2e;
  color: white;
}

.calc-button:last-child:hover {
  background-color: #dfaa72;
}

.calc-button:last-child:active {
  background-color: #91500b;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}
